<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\ShirleyLovey\Desktop\PublishFolder\LMS.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=lms.ckusxsknnmeb.ap-southeast-2.rds.amazonaws.com;Initial Catalog=LMS;User ID=ShirelyLovey;Password=de2698668." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LMS.Models.ApplicationDbContext, LMS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LMSEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=lms.ckusxsknnmeb.ap-southeast-2.rds.amazonaws.com;Initial Catalog=LMS;User ID=ShirelyLovey;Password=de2698668." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Data.Database.LMSEntities, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LMSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.LMSModel.csdl|res://*/Database.LMSModel.ssdl|res://*/Database.LMSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=lms.ckusxsknnmeb.ap-southeast-2.rds.amazonaws.com;Initial Catalog=LMS;User ID=ShirelyLovey;Password=de2698668."</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lms.ckusxsknnmeb.ap-southeast-2.rds.amazonaws.com;Initial Catalog=LMS;User ID=ShirelyLovey;Password=de2698668.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>